{% load static %}

<div class="flex-shrink-0 p-3" style="width: 250px;" 
    hx-boost="true" 
    hx-target="#target"
    hx-swap-oob="true">
  <a href="{% url 'home' %}" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">ToDo List</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        Home
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="{% url 'tasks' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tasks</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
