{% extends "base.html" %} 

{% block content %}
  <div class="text-center row align-items-center mt-lg-5">
    <h1 class="col">ToDo List</h1>
  </div>
  <div class="d-grid gap-2 col-8 mx-auto">
    <form method="post">
      <div class="row">
        <div class="col-10">
          <input class="form-control form-control-lg" type="text" name="name">
        </div>
        <div class="col-2 d-grid">
          <button 
            class="btn btn-outline-primary btn-lg" 
            type="button"
            hx-trigger="click"
            hx-post="{% url 'create-tasks' %}"
            hx-target="#tasks">
            NEW
          </button>
        </div>
      </div>
    </form>
    <li class="border-top my-3" style="list-style-type: none;"></li>
  </div>
  <ul class="list-group list-group-flush d-grid gap-2 col-8 mx-auto" id="tasks">
    {% for task in tasks %}
      <li class="list-group-item list-group-item-action list-group-item-{{ bg }}">
        {{ task.name }}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
