<ul class="list-group list-group-flush d-grid gap-2 col-8 mx-auto mb-5" id="tasks_done">
  <li class="border-top my-3" style="list-style-type: none;">
  {% for task_done in tasks_done %}
      <li class="d-flex justify-content-between list-group-item list-group-item-action list-group-item-success rounded-2 border border-5">
        <div class="d-flex align-items-center">
          <del>{{ task_done.name }}</del>
        </div>
        <div>
          <button class="btn btn-sm btn-outline-secondary"
            hx-put="{% url "undo-task" task_done.id %}"
            hx-target="#tasks_done"
            hx-trigger="click">
            <i class="bi bi-arrow-up-left-circle"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger"
            hx-delete="{% url "delete-task" task_done.id %}"
            hx-target="#tasks_done"
            hx-confirm="Delete Task | Are you sure?"
            kx-trigger="click">
            <i class="bi-trash3"></i>
          </button>
        </div>
      </li>
    </li>
  {% endfor %}
</ul>